{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block title %}
Find Celebrity Score
{% endblock %}


{% block content %}

 <div class="left">
  <image class="homebird" src="{{url_for('static',filename = 'assets/homebird.png')}}" >
  
</div>
 <script src="{{url_for('static', filename='index.css')}}"></script>

<div class="container">

  <!-- home button -->
  <div class="row">
    <div class="logo">
      <a href="">
        <h4>home</h4>
      </a>
    </div>
    
  </div>

  <!-- main content --> 
  <div class="row">
      <h1 class="text-center search" >search</h1><br><br><br>

      <!-- error handling -->
      {% if error %}
        <p>Invalid Celebrity</p>
      {% endif %} 

      <!-- celeb name form -->
      {{ wtf.quick_form(form) }}

      <!-- footer: "made with love..." -->
      <div class="footer navbar-fixed-bottom">
        <h4 class="text-center">made with love for CSCE 470</h4>
      </div>

  </div>

</div>
{% endblock %}