{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link type="text/css" rel="stylesheet"
      href="{{url_for('.static', filename='score.css')}}">
{% endblock %}


{% block title %}
Selected Actor: {{ first_name }} {{last_name}}
{% endblock %}


{% block content %}

<div class="container" >
  <div class="row">
      <a href="/">
        <input type="button" value="Back to Home" />
      </a>

      <div class="col">
        <div class="vl"></div>
      </div>
      <div class="col">
        <div class="data">
          <!-- note, the id is not used in the template -->
          <div class="fullname">
            <p class="fname">{{ first_name }} </p> 
            <p> &nbsp;&nbsp;&nbsp; <p> 
            <p class="lname">{{ last_name }} </p>
          </div>
          <br>
          <p class="subtitle">Top Ten Words</p>
          <p>1. {{word1}}</p>
          <p>2. {{word2}}</p>
          <p>3. {{word3}}</p>
          <p>4. {{word4}}</p>
          <p>5. {{word5}}</p>
          <p>6. {{word6}}</p>
          <p>7. {{word7}}</p>
          <p>8. {{word8}}</p>
          <p>9. {{word9}}</p>
          <p>10. {{word10}}</p>
        </div>
      </div>

      <script src="{{url_for('static', filename='score.css')}}"></script>
  </div>
</div>

{% endblock %}