@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000;
    text-decoration: none;
}

.logo {
    float: right;
    padding-top: 1%;
}

.search {
    font-size: 7em;
}


.left {
    background-color: #A3D2E5;
    width: 30%;
    height: 100%;
    display: flex;
    position: absolute;
}

.homebird {
    max-height: 600px;
    /* padding-top: 200px; */
    align-self: flex-end;
    overflow: hidden;
}

.container {
    float: right;
    /* transform: translateY(-50%); */
}
