@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body { 
    background: white; 
    font-family: 'Montserrat', sans-serif;

}

.fullname {
    display: flex;
    flex-direction: row;
    text-decoration: none;

}
.fname {
    font-weight: 500;
    margin: 50px 0 0 0;
    font-size: 50px;
}
.lname {
    font-weight: 500;
    margin: 50px 0 0 0;
    font-size: 50px;
}

.subtitle {
    font-weight: 600;
}

.vl {
    position: absolute;
    border-left: 5px solid black;
    height: 500px;
    padding-left: 50px;
    padding-right: 10px;

  }

  .col {
    margin: 100px 0 0 50px;
  }

  .data {
      padding-left: 50px;
  }
